html, body {
  height: 100%;
  background-color: #EDE3E9;
  /* color: darkgrey; */
}

h1 {
  text-align: center;
}

button {
  /* display: inline-block; */
  border: none;
  padding: .5em 1em;
  margin: 0;
  text-decoration: none;
  /* font-family: sans-serif; */
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
  transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background-color: #9B5DE5;
  color: #00BBF9;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

/* #tools { */
  /* text-align: center; */
/* } */
