#browse {
  height: 100%;
  /* display: grid; */
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-gap: 1em; */
  display: flex;
  justify-content: flex-start;
  /* align-items: stretch; */
  flex-wrap: wrap;
}

#preview-container {
  margin: auto;
  width: 300px; 
}
